---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body
    class="w-full h-full flex items-center justify-center bg-slate-900 text-slate-100"
  >
    <div
      class="max-w-4xl w-full bg-slate-800 p-4 rounded-lg shadow-2xl space-y-3"
    >
      <slot />
    </div>
  </body>
</html>